body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.search {
    display: inline-flex;
    float: right;
    margin-right: 46px;
}

.row {
    margin-bottom: 12px;
}

.img-responsive {
    margin: 0 auto;
}

.contacts {
    text-align: left;
}

.glyphicon-search {
    margin: 8px;
}